<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-shorty" version="1.0.0">
    <name>Shorty</name>
    <description>Cordova plugin for adding and deleting app shortcuts in Android.</description>
    <license>MIT</license>
    <keywords>cordova, shorty</keywords>
    <repo>https://github.com/EvanWieland/cordova-plugin-shorty.git</repo>

    <js-module src="www/Shorty.js" name="Shorty">
        <clobbers target="window.Shorty"/>
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Shorty">
                <param name="android-package" value="io.bistmithy.shorty.Shorty"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
            <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
        </config-file>

        <source-file src="src/android/Shorty.java" target-dir="src/io/bistmithy/shorty"/>
    </platform>
</plugin>
